.search-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

.gallery {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tempbox {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: darkgoldenrod;
}
